designs/043-wero-merchant/assets/sowieso-wero-assets.s3.eu-central-1.amazonaws.com/videos/q-and-a-en.mp4 filter=lfs diff=lfs merge=lfs -text
designs/112-venezuelastrong/assets/media/025725d50a6abd1d.mp4 filter=lfs diff=lfs merge=lfs -text
designs/112-venezuelastrong/assets/media/31dbbee5d5961b97.mp4 filter=lfs diff=lfs merge=lfs -text
designs/112-venezuelastrong/assets/media/31dbbee5d5961b97.webm filter=lfs diff=lfs merge=lfs -text
designs/112-venezuelastrong/assets/media/bc00f8f0cff6c732.mp4 filter=lfs diff=lfs merge=lfs -text
designs/112-venezuelastrong/assets/media/bc00f8f0cff6c732.webm filter=lfs diff=lfs merge=lfs -text
